@using Microsoft.CodeAnalysis
@using RetroBoard.ViewModels.Home
@model BoardViewModel
@{
    ViewData["Title"] = "Home Page";
    var customPanelId = 1;

    var colCount = Model.Categories.Count;
    int bCol;

    if (colCount < 4)
    {
        bCol = 4;
    }
    else if (colCount == 4)
    {
        bCol = 3;
    }
    else if (colCount < 6)
    {
        bCol = 2;
    }
    else
    {
        bCol = 1;
    }
}


<link href="~/css/custom-panels.css" rel="stylesheet"/>
<link href="~/lib/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/lib/jquery-zclip/jquery.zclip.js"></script>

<form action="@Url.Action("Board", "Home")" method="POST">
    
    @{
        if (Model.HasBoard)
        {
            <div class="row">
                <div id="copyLinkButton" class="btn btn-default btn-sm" data-copy="@Url.Action("Board", "Home", new {boardId = Model.BoardId}, Uri.UriSchemeHttp)" style="float: right;">Copy Share Link to Clipboard</div>
            </div>
        }
    }

    <div class="row">

        @{
            if (!Model.HasBoard)
            {
                <input type="button" class="btn btn-lg btn-default text-center" id="createButton" value="Create a RetroBoard"/>

                <div id="dialog-form" title="Select Fields" style="display: none; text-align: center;">
                    <fieldset>
                        <label>Select Columns</label><br/>
                        @Html.TextBoxFor(b => b.TagColumns, new {@data_role = "tagsinput"})
                        <br/> <br/>
                        <input type="submit" value="Get Started" tabindex="-1" class="btn btn-default">
                    </fieldset>
                </div>
            }
            else
            {
                foreach (var category in Model.Categories)
                {
                    <div class="col-md-@bCol">
                        <div class="">
                            <h3>@category.Title</h3>
                            <div class="droppable connectedSortable" style="min-height: 90px;" id="@category.Id" name="@category.Id">
                                @foreach (var card in category.Cards)
                                {
                                    customPanelId += 1;
                                    customPanelId = customPanelId > 17 ? 1 : customPanelId;

                                    <div class="sortable droppable" ondblclick="startEdit(this.id);" id="@card.Id">
                                        <div class="panel panel-default">
                                            <div class="panel-heading-shared panel-heading-custom-@customPanelId">
                                                <textarea id="txt-@card.Id" style="display: none; width: 100%; color: black;">@card.Text</textarea>
                                                <label style="color: inherit;" id="lbl-@card.Id">@card.Text</label>
                                                <div id="act-@card.Id" class="actionbuttons" style="text-align: right; vertical-align: bottom; font-size: 1.3em; display: none;">
                                                    <span class="glyphicon glyphicon-trash" onclick="deleteCard('@card.Id');" aria-hidden="true"></span>&nbsp; &nbsp;
                                                    <span class="glyphicon glyphicon-save " onclick="hideAll();" aria-hidden="false"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="text-center" id="btn-@category.Id">
                                <div class="btn btn-info" onclick="addLocalCard('@category.Id');">
                                    &nbsp;<i class="glyphicon-plus" style="font-size: 1.8em;"></i>&nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
        }

    </div>

</form>


<script src="/signalr/hubs"></script>
<script type="text/javascript">
 
    var hub;
    var boardId = '@Model.BoardId';

    $(document).ready(function () {

        $("#copyLinkButton").on('click', function (e) {
            e.preventDefault();
        }).each(function () {
            $(this).zclip({
                path: '/lib/jquery-zclip/ZeroClipboard.swf',
                copy: function() {
                    return $(this).data('copy');
                }
            });
        });

        $("#createButton").button().on("click", function () {
            $('#dialog-form').show(500);
            $('#createButton').hide(100);
        });

        hub = $.connection.boardHub;

        hub.client.broadcastMessage = new function (boardId, categoryId, cardId, cardText) {
            if ($("#" + cardId).length) {
                editCard(cardId, cardText);
            } else {
                addCard(categoryId, cardId, cardText);
            }
        };

        hub.connection.start().done(function (val) {
            //alert(val);
        });

        //hub.connection.start().fail(function (val) {
        //    alert(val);
        //});

        //hub.connection.start();

        autosize($("textarea"));

        $("textarea").blur(function () { hideAll(); });
        

        $(function () {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    });

    function hideAll() {
        $("textarea:visible").each(function() {
            $("#lbl-" + this.id.substr(4)).html(this.value);
            hub.server.sendUpdate(boardId, $("#" + this.id).closest(".connectedSortable").prop("id"), this.id.substr(4), this.value);
        });
        $(".actionbuttons:visible").hide(0);
        $("textarea").hide(0);
        $("label").show(0);
    }

    function startEdit(id) {
        if ($("#txt-" + id).prop("display", "none")) {
            hideAll();
            $("#txt-" + id).show(0);
            $("#act-" + id).show(0);
            autosize.update($("#txt-" + id));
            autosize($("#txt-" + id));
            $("#lbl-" + id).hide(0);
            $("#txt-" + id).focus();
        }
    }

    function deleteCard(id) {
        // call server!
        $(id).remove();
    }

    function editCard(cardId, cardText) {
        $("#txt-" + cardId).val(cardText);
        $("#lbl-" + cardId).html(cardText);
    }

    function addCard(categoryId, id, cardText) {
        $("#" + categoryId).append("<div class=\"sortable droppable\" ondblclick=\"startEdit(this.id);\" id=\""  + id + "\">"+
            "<div class=\"panel panel-default\">"+
            "<div class=\"panel-heading-shared panel-heading-custom-"+nextPanelId()+"\">" +
            "<textarea id=\"txt-"+id+"\" style=\"display: none; width: 100%; color: black;\">"+cardText+"</textarea>"+
            "<label style=\"color: inherit;\" id=\"lbl-" + id + "\">" + cardText + "</label>" +
            "<div id=\"act-"+id+"\" class=\"actionbuttons\" style=\"text-align: right; vertical-align: bottom; font-size: 1.3em; display: none;\">"+
            "<span class=\"glyphicon glyphicon-trash\" onclick=\"deleteCard('"+id+"');\" aria-hidden=\"true\"></span>&nbsp; &nbsp;"+
            "<span class=\"glyphicon glyphicon-save\" onclick=\"hideAll();\" aria-hidden=\"false\"></span>"+
            "</div>"+
            "</div>"+
            "</div>"+
            "</div>");
        $("textarea").blur(function () { hideAll(); });
    }

    function addLocalCard(categoryId) {
        var cardId = getGuid();
        var cardText = "";
        addCard(categoryId, cardId, cardText);
        startEdit(cardId);
    }

    function nextPanelId() {
        customPanelId = customPanelId >= 17 ? 1 : customPanelId+1;
        return customPanelId;
    }

    function getGuid() {
        return (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
    }

    function S4() {
        return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
    }

    var customPanelId = Math.floor(Math.random() * 16) + 1;

</script>