@using RetroBoard.ViewModels.Home
@model BoardViewModel
@{
    ViewData["Title"] = "Home Page";
    var i = 0;
}


<div class="row">

    @foreach (var category in Model.Categories)
    {
        i += 1;
        var catGuid = Guid.NewGuid();

        <div class="col-md-3">
            <div class="droppable" id="@category.Id" name="@category.Id">
                <h2>@category.Title</h2>
                @foreach (var card in category.Cards)
                {
                    <div class="draggable droppable" id="@card.Id">
                        <div class="panel panel-warning">
                            <div class="panel-heading">@card.Text</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".draggable").draggable({
            cursor: 'move',
            revert: true
        });
        $(".droppable").droppable({
            drop: function (event, ui) {
                if ($('#' + event.target.id).not('.draggable').length) {
                    $('#' + event.target.id).append($('#' + ui.draggable[0].id));
                } else {
                    $('#' + event.target.id).parent().append($('#' + ui.draggable[0].id));                    
                }
                //.append($('#' + ui.draggable[0].id));
                //$('#' + event.target.id).append($('#' + ui.draggable[0].id));
                //alert(event.target.id);
                //alert(ui.draggable[0].id);
            }
        });
    });
</script>